<h2>Registro de usuario</h2>

<form action="/api/sessions/register" method="POST">
    <label for="">Nombre de usuario</label>
    <input type="text" name="usuario">
    <br><br>

    <label for="">Contrasena:</label>
    <input type="password" name="password" required>
    <br><br>

    <button type="submit">Registrar</button>
</form>

{{!-- HAY QUE HACER MAS COMPLEJO ESTO SEGUN LA PRE ENTREGA --}}